---
---

@import "{{ site.theme }}";

#main_content_wrap {
  background: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
	color: #008B8B;
}

h2 {
	background: none;
}

img {
	box-shadow: 0px;
	-webkit-box-shadow: 0px;
}